{% extends "blog/base.html" %}
{% block title %}Change Password{% endblock %}
{% block main_content %}
    <h1>Change password</h1>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save"></p>
    </form>
    <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
{% endblock %}