{% extends 'blog/base.html' %}
{% load static %}
{% block title %}{{ post.post_title }}{% endblock %}
{% block main_content %}


<h1><strong>{{ post.post_title }}</strong></h1>
<p>{{ post.pub_date }}</p>

{% if user.is_authenticated %}
    {% if post.post_author == request.user %}
        <a href="{% url 'blog:post_edit' pk=post.pk %}">Edit post</a>
        <a href="{% url 'blog:delete_post' pk=post.pk %}">Delete</a>
    {% endif %}
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<p><a href="{% url 'blog:category' post.category|slugify%}">{{post.category}}</a></p>

<p> by <a href="{% url 'accounts:profile' pk=post.post_author.pk %}">{{ post.post_author }}</a></p>

{% if post.header_image %}
    <img src='{{ post.header_image.url }}'>
{% endif %}

<br/><br/>
<p>{{ post.post_body| safe }}</p>
<hr>


<form action="{% url 'blog:like_post' post.pk %}"
      method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit", name="post_id", value="{{ post.id }}",
                class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
            <button type="submit", name="post_id", value="{{ post.id }}",
                class="btn btn-primary btn-sm">Like</button>
        {% endif %}

    {% else %}
        <small><a href="{% url 'accounts:login'%}">Login </a>to like</small>
    {% endif %}
    - {{total_likes}} likes
</form>
<br/>
<a href="{% url 'blog:index'%}" class="btn btn-secondary">Back</a>


<br/><br/>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
        {% if post.post_author.profile.profile_pic %}
            <img src="{{post.post_author.profile.profile_pic.url}}" class="img-fluid rounded-start" alt="...">
        {% else %}
            <img src="{% static 'blog/images/default.png' %}" class="img-fluid rounded-start" alt="...">
        {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{post.post_author.first_name}} {{post.post_author.last_name}}</h5>
        <p class="small text-muted">
            {% if post.post_author.profile.website_url%}
                <a href="{{post.post_author.profile.website_url}}">Website </a>
            {% endif %}
            {% if post.post_author.profile.facebook_url%}
                | <a href="{{post.post_author.profile.facebook_url}}">Facebook</a>
            {% endif %}
            {% if post.post_author.profile.twitter_url%}
               | <a href="{{post.post_author.profile.twitter_url}}">Twitter</a>
            {% endif %}
             {% if post.post_author.profile.instagram_url%}
               | <a href="{{post.post_author.profile.instagram_url}}">Instagram</a>
            {% endif %}
            {% if post.post_author.profile.pinterest_url%}
               | <a href="{{post.post_author.profile.pinterest_url}}">Pinterest</a>
            {% endif %}
        </p>
        <p class="card-text">{{post.post_author.profile.bio}}</p>

      </div>
    </div>
  </div>
</div>


{% if not post.comments.all %}
    No comments yet <a href="{% url 'blog:comment_new' post.pk%}">Add one</a>
{% else %}


    <br/>
    <div class="media-list">
        <h2>Comments ({{post.comments.all.count}})</h2>
        <a href="{% url 'blog:comment_new' post.pk%}">Add a comment</a>
        {% for comment in post.comments.all %}
            <div>
                {% if comment.name.profile.profile_pic %}
                    <img src="{{comment.name.profile.profile_pic.url}}" width=70px height=60px alt="...">
                {% else %}
                    <img src="{% static 'blog/images/default.png' %}" width=70px height=60px alt="...">
                {% endif %}
                <strong>{{ comment.name }} -
                    {{comment.date_added}}</strong>
                <br/>
                {{ comment.body }}
                <br/><br/>
            {% endfor %}
            </div>

    </div>    


    <br/><br/>


{% endif %}

{% endblock %}