<header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'blog:index'%}">
                <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">Blogging website
            </a>
            <a class="navbar-brand" href="{% url 'polls:index'%}">Polls</a>
             <a class='navbar-brand' href="{% url 'blog:post_new' %}">Add new post</a>
             <a class='navbar-brand' href="{% url 'blog:add_category' %}">Add category</a>

            <ul class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Categories
                            </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                    {% for item in testname %}
                                         <li><a class="dropdown-item" href="{% url 'blog:category' item|slugify%}">{{item}}</a></li>
                                     {%endfor%}

                                </ul>
                        </li>
                    </li>


                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Profile
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <li><a class="dropdown-item" href="{% url 'accounts:edit_profile'%}">Settings</a></li>
                                {%if user.profile %}
                                  <li><a class="dropdown-item" href="{% url 'accounts:edit_profile_page'  user.profile.id%}">Edit profile page</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'accounts:create_profile_page' %}">Create profile page</a></li>
                                 {% endif %}
                                <li><a class="dropdown-item" href="{% url 'accounts:profile' pk=request.user.pk %}">Your profile</a></li>
                                <li><a class='dropdown-item' href="{% url 'accounts:logout'%}">Log out</a></li>

                              </ul>
            </li>



                        {%else%}
                            <a class="navbar-brand" href="{% url 'accounts:login'%}">Login</a>
                            <a class="navbar-brand" href="{% url 'accounts:register'%}">Register</a>
                        {%endif%}
                    </li>


                </ul>
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

        </nav>

</header>